TUBE CLIPS PAINEL✅ (Legendas).json
{
  "name": "TUBE CLIPS PAINEL✅ (Legendas)",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Disposition",
                "value": "=attachment; filename=\"{{ $('Set Video ID1').item.json.outputFileBase }}\""
              }
            ]
          }
        }
      },
      "name": "Respond to Webhook (Baixar)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2192,
        1280
      ],
      "id": "f55722cd-64d7-4324-8e89-48e5155960a1"
    },
    {
      "parameters": {
        "command": "=(mkdir \"C:\\\\Users\\\\caiot\\\\Downloads\\\\clips\" 2>nul) & ffmpeg -hide_banner -loglevel error -y -i \"{{ $json.inputFile }}\" -ss {{ $json.startTime }} -t {{ $json.duration }} -c:v libx264 -preset veryfast -c:a aac -movflags +faststart \"C:\\\\Users\\\\caiot\\\\Downloads\\\\clips\\\\clip_{{ $json.clipIndex }}.mp4\""
      },
      "name": "1. Clip Video1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1856,
        1600
      ],
      "id": "8bd68faf-777f-4ad3-a7b9-ade66ad299d5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "baseFilename",
              "value": "={{ $binary.file.fileName }}",
              "type": "string",
              "id": "5874e362-6b69-47c2-b2f0-cdd800b2f9c6"
            },
            {
              "name": "inputFile",
              "value": "={{ 'C:\\\\Users\\\\caiot\\\\Downloads\\\\' + $binary.file.fileName }}",
              "type": "string",
              "id": "a4a40ae1-7e2f-432d-813f-f00b0f947df4"
            },
            {
              "name": "inputSubtitle",
              "value": "={{ 'C:\\\\Users\\\\caiot\\\\Downloads\\\\' + $binary.file.fileName.replace(/\\.mp4$/, '.pt-BR.srt') }}\n",
              "type": "string",
              "id": "164478c1-00f2-49a5-945a-0cc0e83b7a5e"
            },
            {
              "name": "intervals",
              "value": "={{ JSON.parse($json.body.intervals) }}",
              "type": "json",
              "id": "7353f63c-a391-4dd0-9ae7-1c7c3f35305a"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Clip Info1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        1520
      ],
      "id": "cb9a326a-0de8-4961-a15b-3858473094b9"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clip-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook: Cortar1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        784,
        1520
      ],
      "id": "1744580a-f428-4fa5-948d-2707ada7ad43",
      "webhookId": "520e6432-1005-4839-8341-2c632d4a1205"
    },
    {
      "parameters": {
        "command": "=yt-dlp -o \"C:/Users/caiot/Downloads/{{ $('Set Video ID1').item.json.outputFileBase }}.mp4\" --write-auto-sub --sub-lang pt -f \"b[ext=mp4]\" {{ $json.url }}"
      },
      "name": "Baixar aud/vid/srt1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1776,
        1280
      ],
      "id": "6e502613-2daf-420d-921a-771949492663"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "url",
              "value": "={{ $json.body.url || $json.query.url }}",
              "type": "string",
              "id": "f071064b-7045-45d7-b085-ffc9b6dcd51c"
            },
            {
              "name": "headers",
              "value": "={{ $json.headers }}",
              "type": "json",
              "id": "5861d1f0-bbc3-45a9-934e-974fafb54df0"
            },
            {
              "name": "videoId",
              "value": "={{ ($json.body.url || $json.query.url).match(/v=([^&]+)/)?.[1] || ($json.body.url || $json.query.url).split('/').pop().split('?')[0] }}",
              "type": "string",
              "id": "2512f898-3b56-4cb5-b3dc-3e32c8f45139"
            },
            {
              "name": "outputDir",
              "value": "C:\\Users\\caiot\\Downloads\\",
              "type": "string",
              "id": "0cc919b0-93c6-462e-bcdf-9061c7fdee86"
            },
            {
              "name": "outputFileBase",
              "value": "={{ ($json.videoId || Date.now().toString()).replace(/[<>:\"/\\\\|?*\\x00-\\x1F]/g,'_').slice(0,120) }}",
              "type": "string",
              "id": "3b486ff0-e2e9-4024-b2dd-47cbf959102d"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Video ID1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        1280
      ],
      "id": "a0a1e0d0-10fc-4a12-99f4-c4661e0c37b6"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook (Cortar)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2992,
        1504
      ],
      "id": "0d3a97b4-5326-4207-8e13-b15354593a37"
    },
    {
      "parameters": {
        "command": "=(mkdir \"C:\\Users\\caiot\\Downloads\\clips\" 2>nul) & ffmpeg -hide_banner -loglevel error -y -i \"C:\\Users\\caiot\\Downloads\\clips\\clip_{{ $('Calculate Duration').item.json.clipIndex }}.mp4\" -vf \"scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2:black\" -c:v libx264 -preset veryfast -c:a copy -movflags +faststart \"C:\\Users\\caiot\\Downloads\\clips\\vertical_{{ $('Calculate Duration').item.json.clipIndex }}.mp4\""
      },
      "name": "3. To Vertical",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2288,
        1600
      ],
      "id": "c9d39c9f-51d2-44e4-a1bb-8f31a5fc8fe1"
    },
    {
      "parameters": {
        "command": "=ffmpeg -y -ss {{ $('Calculate Duration1').item.json.startTime }} -i \"{{ $('Calculate Duration1').item.json.inputFile_legenda }}\" -t {{ $('Calculate Duration1').item.json.duration }} -c copy \"C:\\\\Users\\\\caiot\\\\Downloads\\\\clips\\\\clip_{{ $('Calculate Duration1').item.json.clipIndex }}.vtt\""
      },
      "name": "2. Clip Subtitles (SRT)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2144,
        1984
      ],
      "id": "542039bc-d921-4623-8f27-9c2b75645dfe"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "download-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook: Baixar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1312,
        1280
      ],
      "id": "2445a471-24cb-49b6-a977-0b2780a527a1",
      "webhookId": "a9e6d0a7-a541-4ce8-b11a-1d1981e9f168"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ 'C:\\\\Users\\\\caiot\\\\Downloads\\\\' + $binary.file.fileName }}",
        "dataPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        992,
        1520
      ],
      "id": "04170c97-46be-4ea2-b413-7aabd3c91149",
      "name": "Write Binary Files from Disk"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1616,
        1520
      ],
      "id": "c03c4a6f-7d4b-4e91-b935-04dd0d6bf667",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Pega o item que entra no nó\nconst inputItem = $input.item;\n\n// Pega o array de intervalos de dentro do item\nconst intervals = inputItem.json.intervals;\n\n// Se não houver intervalos, não retorna nada\nif (!intervals || intervals.length === 0) {\n  return [];\n}\n\n// Função para converter \"HH:MM:SS\" ou \"MM:SS\" em segundos\n// Esta função está correta.\nconst toS = t => t.split(':').reverse().reduce((a,v,i) => a + parseInt(v||0) * [1,60,3600][i], 0);\n\n// Array para guardar os novos itens (um para cada clipe)\nconst outputItems = [];\n\n// Loop por cada intervalo no array\nfor (let i = 0; i < intervals.length; i++) {\n  const interval = intervals[i];\n  const s = interval.start;\n  const e = interval.end;\n\n  // Calcula a duração em segundos\n  const ds = toS(e) - toS(s);\n  if (ds <= 0) {\n    throw new Error(`Intervalo inválido: ${s} ~ ${e}`);\n  }\n\n  // Cria um novo item de saída para este clipe\n  const newItem = {\n    json: {\n      ...inputItem.json, // Copia todos os dados antigos (importante para manter o 'inputFile')\n      startTime: s,      // Adiciona o tempo de início\n      duration: ds,      // Adiciona a duração calculada (ex: 3)\n      clipIndex: i       // Adiciona o índice do clipe (0, 1, 2...)\n    },\n    binary: inputItem.binary // Mantém os dados binários (se houver)\n  };\n\n  // Adiciona o novo item à lista de saída\n  outputItems.push(newItem);\n}\n\n// Retorna a lista de itens. O n8n irá processar cada\n// item individualmente nos próximos nós.\nreturn outputItems;"
      },
      "name": "Calculate Duration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        1520
      ],
      "id": "8eb741fa-88e3-4504-bc48-327e3064439c"
    },
    {
      "parameters": {
        "filePath": "=C:/Users/caiot/Downloads/{{ $('Set Video ID1').item.json.outputFileBase }}.mp4"
      },
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        1984,
        1280
      ],
      "id": "02c2c6c6-0dfc-4c23-9a3f-7e108de74321"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "baseFilename_legenda",
              "value": "={{ $binary.clips.fileName }}",
              "type": "string",
              "id": "5874e362-6b69-47c2-b2f0-cdd800b2f9c6"
            },
            {
              "name": "inputFile_legenda",
              "value": "={{ 'C:\\\\Users\\\\caiot\\\\Downloads\\\\' + $binary.clips.fileName }}",
              "type": "string",
              "id": "a4a40ae1-7e2f-432d-813f-f00b0f947df4"
            },
            {
              "id": "1ea6cea7-1621-4e54-9340-93ba6917dc6f",
              "name": "baseFilename_clips",
              "value": "={{ $binary.file.fileName }}",
              "type": "string"
            },
            {
              "id": "0fd3011d-6263-4d3e-9201-66f58632476e",
              "name": "inputFile_clips",
              "value": "={{ 'C:\\\\Users\\\\caiot\\\\Downloads\\\\' + $binary.file.fileName }}",
              "type": "string"
            },
            {
              "name": "inputSubtitle",
              "value": "={{ $('Webhook: Cortar Legendas').item.json.body.intervals }}",
              "type": "string",
              "id": "164478c1-00f2-49a5-945a-0cc0e83b7a5e"
            },
            {
              "name": "intervals",
              "value": "={{ $('Webhook: Cortar Legendas').item.json.body.intervals }}",
              "type": "json",
              "id": "7353f63c-a391-4dd0-9ae7-1c7c3f35305a"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Clip Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        1856
      ],
      "id": "0dc89753-a880-4caf-b4aa-778146019993"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook (Cortar)1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3008,
        1840
      ],
      "id": "d7d31cce-b2dd-4424-8e8a-0405983386ab"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1632,
        1856
      ],
      "id": "1885510a-ba7d-49e6-a7c2-96d140858c8a",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "// Pega o item que entra no nó\nconst inputItem = $input.item;\n\n// 1. Pega a STRING ÚNICA de intervalos de dentro do item\nconst intervalsString = inputItem.json.intervals;\n\n// Se não houver string, não retorna nada\nif (!intervalsString) {\n  console.warn(\"Nenhuma string de 'intervals' encontrada.\");\n  return [];\n}\n\n// 2. Converte a STRING ÚNICA em um ARRAY de objetos\nlet intervals;\ntry {\n  intervals = JSON.parse(intervalsString);\n} catch (e) {\n  throw new Error(`O JSON de intervalos está mal formatado: ${e.message}. String recebida: ${intervalsString}`);\n}\n\n// 3. Se o array (após o parse) estiver vazio, não retorna nada\nif (!intervals || intervals.length === 0) {\n  console.warn(\"O array de 'intervals' está vazio.\");\n  return [];\n}\n\n// Função para converter \"HH:MM:SS\" ou \"MM:SS\" em segundos\nconst toS = t => t.split(':').reverse().reduce((a,v,i) => a + parseInt(v||0) * [1,60,3600][i], 0);\n\n// Array para guardar os novos itens (um para cada clipe)\nconst outputItems = [];\n\n// 4. Loop por cada OBJETO de intervalo no array\nfor (let i = 0; i < intervals.length; i++) {\n  \n  // Agora 'interval' é um objeto, não uma string\n  const interval = intervals[i]; \n\n  // Pega o start e end\n  const s = interval.start;\n  const e = interval.end;\n\n  // Valida se 'start' e 'end' existem\n  if (!s || !e) {\n    console.warn(`Item ${i} no array não tem 'start' ou 'end'. Pulando.`);\n    continue;\n  }\n\n  // Calcula a duração em segundos\n  const ds = toS(e) - toS(s);\n  if (ds <= 0) {\n    throw new Error(`Intervalo inválido: ${s} ~ ${e}`);\n  }\n\n  // Cria um novo item de saída para este clipe\n  const newItem = {\n    json: {\n      ...inputItem.json, // Copia todos os dados antigos\n      // Remove o 'intervals' antigo para evitar confusão no próximo nó\n      intervals: undefined, \n      startTime: s,     // Adiciona o tempo de início\n      duration: ds,     // Adiciona a duração calculada (ex: 3)\n      clipIndex: i      // Adiciona o índice do clipe (0, 1, 2...)\n    },\n    binary: inputItem.binary // Mantém os dados binários (se houver)\n  };\n\n  // Adiciona o novo item à lista de saída\n  outputItems.push(newItem);\n}\n\n// Retorna a lista de itens.\nreturn outputItems;"
      },
      "name": "Calculate Duration1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        1856
      ],
      "id": "bc07f2a5-9fd3-486c-b369-2412ac193f59",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clip-legendas",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook: Cortar Legendas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        576,
        1856
      ],
      "id": "33fa787d-1fba-47b5-909b-5ea8a60ebf55",
      "webhookId": "520e6432-1005-4839-8341-2c632d4a1205"
    },
    {
      "parameters": {
        "command": "=(mkdir \"C:\\Users\\caiot\\Downloads\\clips\" 2>nul) & ffmpeg -hide_banner -loglevel error -y -i \"C:\\Users\\caiot\\Downloads\\clips\\clip_{{ $('Calculate Duration1').item.json.clipIndex }}.mp4\" -vf \"scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2:black\" -c:v libx264 -preset veryfast -c:a copy -movflags +faststart \"C:\\Users\\caiot\\Downloads\\clips\\vertical_{{ $('Calculate Duration1').item.json.clipIndex }}.mp4\""
      },
      "name": "3. To Vertical1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2352,
        1984
      ],
      "id": "b5e86515-c9c1-44d3-a0a5-7356ac205f51"
    },
    {
      "parameters": {
        "command": "=(mkdir \"C:\\\\Users\\\\caiot\\\\Downloads\\\\clips\" 2>nul) & ffmpeg -hide_banner -loglevel error -y -i \"{{ $json.inputFile_clips }}\" -ss {{ $json.startTime }} -t {{ $json.duration }} -c:v libx264 -preset veryfast -c:a aac -movflags +faststart \"C:\\\\Users\\\\caiot\\\\Downloads\\\\clips\\\\clip_{{ $json.clipIndex }}.mp4\""
      },
      "name": "1. Clip Video",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1936,
        1984
      ],
      "id": "ff627755-cefe-4968-916f-6d02c467fd3b"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ 'C:\\\\Users\\\\caiot\\\\Downloads\\\\' + $binary.clips.fileName }}",
        "dataPropertyName": "clips",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1008,
        1856
      ],
      "id": "26f147dd-db54-4d48-8399-83277e5db867",
      "name": "WRITE legendas",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ 'C:\\\\Users\\\\caiot\\\\Downloads\\\\' + $binary.file.fileName }}",
        "dataPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        784,
        1856
      ],
      "id": "8e50e94e-6dbf-4f42-9741-f5d1175cbacb",
      "name": "WRITE videos"
    }
  ],
  "pinData": {},
  "connections": {
    "Set Clip Info1": {
      "main": [
        [
          {
            "node": "Calculate Duration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Cortar1": {
      "main": [
        [
          {
            "node": "Write Binary Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar aud/vid/srt1": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Video ID1": {
      "main": [
        [
          {
            "node": "Baixar aud/vid/srt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Clip Video1": {
      "main": [
        [
          {
            "node": "3. To Vertical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. To Vertical": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Clip Subtitles (SRT)": {
      "main": [
        [
          {
            "node": "3. To Vertical1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Baixar": {
      "main": [
        [
          {
            "node": "Set Video ID1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Video ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary Files from Disk": {
      "main": [
        [
          {
            "node": "Set Clip Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Respond to Webhook (Cortar)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "1. Clip Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Duration": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Respond to Webhook (Baixar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Clip Info": {
      "main": [
        [
          {
            "node": "Calculate Duration1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Respond to Webhook (Cortar)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "1. Clip Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Duration1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Cortar Legendas": {
      "main": [
        [
          {
            "node": "WRITE videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Clip Video": {
      "main": [
        [
          {
            "node": "2. Clip Subtitles (SRT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. To Vertical1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WRITE legendas": {
      "main": [
        [
          {
            "node": "Set Clip Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WRITE videos": {
      "main": [
        [
          {
            "node": "WRITE legendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "34717e1a-9823-4d1d-b511-c94bdf5e276c",
  "meta": {
    "instanceId": "aae9a64c63236eb3f48c9b3eb1f78f5f3329143a049a4cd796e9f9c353155815"
  },
  "id": "3oZzGSRTQgPoKoHx",
  "tags": []
}